/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index:9999  !important;
	width: 135px;
	font-family:Arial, Helvetica, sans-serif !important;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border:1px solid #dfe6ef;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
    color: #8d8d8d;
	margin-left:0%;
    font-size: 14px;
    font-weight: 400;
		border:1px solid #dfe6ef;
}

.cs-select{ font-family:Arial, Helvetica, sans-serif !important;}


div.cs-select1 {

	width:100% !important;
	margin-left: 0%;

}






div.cs-select:before{
	width:45px;
	height:38px;
	content:"";
	right:0;
	position:absolute;
	border-left:1px solid #dfe6ef;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 6px  12px;
	line-height:24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	font-size:24px;
	font-weight:100 !important;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	 font-family: FontAwesome;
}

.cs-select > span::after {
	content: '\f107';
	right: 0.7em;
}

.cs-select .cs-selected span::after {
	content: '';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
border-bottom:3px solid #8a8a8a;
}

.cs-select ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	color:#444;
}

.cs-select ul span {
	padding: 7px 7px;
	border-top:1px solid #dfe6ef;
	border-right:1px solid #dfe6ef;
	border-left:1px solid #dfe6ef;
}
.cs-select ul span:hover {
	color:#5e9d2d;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}
