
/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
	table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #e0e2e3;  }
	.responsivedash { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 0px!important; border: 0px solid #e0e2e3!important;  }
	
	table thead, table tfoot { background: #f5f5f5; }
	table thead tr th,
	table tfoot tr th,
	table tbody tr td,
	table tr td,
	table tfoot tr td { font-size: 16px; line-height:24px; text-align: left; font-weight:300; color:#444;  }
	table thead tr th,
	table tfoot tr td { padding:1.5% 2%; font-size: 14px; font-weight: bold; color: #8a8a8a; }
	table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
	table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

	table tbody tr.even,
	table tbody tr.alt { background: #f9f9f9; }
	table tbody tr:nth-child(odd) { background: #f9f9f9; border-top:0px solid #e1e1e1;}
	.responsivedash tbody tr:nth-child(odd) { background: #ffffff!important; }
	.responsivedash tbody tr { border-top: 1px solid #e0e2e3!important; }
	table tbody tr td { color: #333; padding: 10px 10px 0 10px; vertical-align: top; border: none; line-height:36px; }
	
	.grayBorderdashboard div.table-wrapper {
    border-right: 1px solid #e0e2e3;
    margin-bottom: 0px!important;
    overflow: hidden;
    position: relative;
}

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
	.left        { float: left; }
	.right       { float: right; }
	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }
	.hide        { display: none; }
	.highlight   { background: #ff0; }
	