/*
* 	IE css 
*	v1.3.3
*/

.owl-prev-ie{
	margin-left: 70px;
    margin-top: -188px;
    position: absolute;
    text-align: center;
    z-index: 99999 !important;
}
.owl-next-ie {
	margin-left: 260px;
    margin-top: -188px;
    position: absolute;
    text-align: center;
    z-index: 99999 !important;
}