div.error {
	position:absolute;
	
	color:red;
	
	text-align:left;
	z-index:1;
	margin-left: -47px;
}
div.error2 {
	position:absolute;
	margin-top:3px;
	color:red;
	padding:3px;
	text-align:left;
	z-index:1;
}
div.error3 {
	position:absolute;
	margin-top:2px;
	color:red;
	padding:3px;
	text-align:left;
	z-index:1;
}
#userType-error{
	padding-left: 48px !important;
}
#userType-error1{
	padding-left: 47px;
}
#userType2-error{
	padding-left: 47px;
}
#userType2-error2{
	padding-left: 47px;
}
#userType3-error{
	padding-left: 47px;
}
#userType3-error2{
	padding-left: 47px;
}
.owl-theme .owl-controls{
	margin-top: -146px !important;
	text-align: center !important;
	z-index:99999 !important;
	position:absolute !important;
	width:100% !important;
}
#Our_clients .owl-prev {
	margin:0;
	padding:0;
	width:23px;
	height:43px;
	background:url(../img/recent_project_btn.png) no-repeat scroll left top !important;
	top:35%;
	left:-5px;
	position:absolute;
}

#Our_clients .owl-next {
	margin:0;
	padding:0;
	width:24px;
	height:43px;
	background:url(../img/recent_project_btn.png) no-repeat scroll right top !important;
	top:35%;
	right:-5px;
	position:absolute;
}