/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
    margin-top: -91px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99 !important;
}


/* .owl-theme .owl-controls{
	margin-top: -193px;
	text-align: center;
	z-index:99999 !important;
	position:absolute;
	width:100%;
} */ 
/* .owl-prev {
	margin-left: 58px;
    margin-top: -188px;
    position: absolute;
    text-align: center;
    z-index: 99999 !important;
	width: 100%;
}
.owl-next {
	margin-left: -102px;
    margin-top: -188px;
    position: absolute;
    text-align: center;
    z-index: 99999 !important;
	width: 100%;
}
 */
/*  .owl-theme .owl-controls{
	text-align: center;
} 
/* custom css by dinesh for owl slider mob */
 /* @media(min-width:800px) {
		.owl-next {
		margin-top: -188px !important;
	} 
		.owl-prev {
		margin-top: -188px !important;
	}
 } */ 
 
 /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
  .owl-theme .owl-controls {
			margin-top: -91px;
		}
}
 
 
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px 50px;
	padding: 9px 15px;
	font-size: 24px;
	/* border:2px solid #FFF; */
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #333;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	behavior: url(css/pie.htc);
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: none;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}