
/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 15px 10px; text-align: left; color:#666; font-size:16px;}

/* Mobile */
@media only screen and (max-width: 1025px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0;  top: 0; background: #fff; width: 50%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #e0e2e3; border-left: 1px solid #e0e2e3;}
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; /*margin-bottom: 20px;*/ overflow: hidden; border-right: 1px solid #e0e2e3; }
	div.table-wrapper div.scrollable { margin-left: 0%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td .model-header, table.responsive th .model-header { white-space:initial!Important; }
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive  table.responsive td:first-child, table.responsive td:second-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	.pinned table tr td:nth-child(1) { display: none; }
	.pinned  { display: none; }
	
	
}
