body {
	color: #312c29;
	font-size: 14px;
	line-height: 16px;
	font-family:Arial, Helvetica, sans-serif;
	background:#f9f9f9;
}

@font-face{font-family:"SEGOEUIL";src:url("SEGOEUIL.eot?") format("eot"), url("SEGOEUIL.woff") format("woff"), url("SEGOEUIL.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:"seguisb_0";src:url("seguisb_0.eot?") format("eot"), url("seguisb_0.woff") format("woff"), url("seguisb_0.ttf") format("truetype"), url("seguisb_0.svg#seguisb_0") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:"Segoe_UI";src:url("Segoe_UI.eot?") format("eot"), url("Segoe_UI.woff") format("woff"), url("Segoe_UI.ttf") format("truetype"), url("Segoe_UI.svg#Segoe_UI") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'WebRupee';src:url('WebRupee.V2.0.eot');src:local('WebRupee'), url('WebRupee.V2.0.ttf') format('truetype'), url('WebRupee.V2.0.woff') format('woff'), url('WebRupee.V2.0.svg') format('svg');font-weight:normal;font-style:normal;}
.WebRupee{font-family:'WebRupee';color:#0c7d3b;font-style:normal;display:inline-block;padding:0 0px;margin:0 0px;}



a, a:focus, a:hover, a:active {
	color: #0080c8;
	outline: 0 !important;
}
a:hover {
	color: #0080c8;
	text-decoration: none;
}
img.img-circle {
	border-radius: 50% !important;
}
.text-justify{
	text-align: justify;
}
/* Alingment Styles */

.aligncenter {
	display: block;
	margin: 0px auto 20px auto;
}
.alignright {
	float: right;
	margin: 10px 0 10px 10px;
}
.alignleft {
	float: left;
	margin: 10px 10px 10px 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textcenter {
	text-align: center
}
.textright {
	text-align: right
}
.textleft {
	text-align: left !important;
}
.spacer {
	margin:0;
	padding:0;
	height:10px;
	clear:both
}
.spacer2 {
	margin:0;
	padding:0;
	height:20px;
	clear:both
}
.spacer3 {
	margin:0;
	padding:0;
	height:30px;
	clear:both
}
.spacer4 {
	margin:0;
	padding:0;
	height:40px;
	clear:both
}
.spacer5 {
	margin:0;
	padding:0;
	height:50px;
	clear:both
}
.img-responsive {
	width:100%
}
/*------------------------- header -------------------*/
.header {
	margin:0;
	padding:0;
	padding-bottom:10px;
	background:#fff;
	position:relative;
	-webkit-box-shadow: 1px 1px 7px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 7px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 7px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
.header .toll-free {
	padding:15px 0 15px 20px;
	font-size:18px;
	font-weight:300;
	line-height:47px;
	background:url(../images/toll-icon.png) no-repeat left center !important;
}


.header .header-top {
	background:#0f6633;
	padding:5px 0;
}

.header .logo {
	margin:25px 0 5px 0;
	padding:0
}
.header .logo a img {
	width:auto
}







/*------------------------- Quote box -------------------*/
#Quote-box {
	margin:0;
	padding:15px;
	background:url(../images/quote-box.png) left center;
	width:30%;
	position:absolute;
	right:15px;
	top:0;
}
#Quote-box h1 {
	margin:0 0 15px 0;
	padding:0;
	color:#57b2e4;
	font-size:18px
}
#Quote-box input[type="text"], #Quote-box textarea {
	margin:0 0 15px 0;
	padding:5px 10px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #d6dcce;
	width:100%;
	display:block
}
#Quote-box input[type="text"]:hover, #Quote-box input[type="text"]:hover, #Quote-box textarea:hover, #Quote-box textarea:focus {
	transition: all 0.4s ease-in-out 0s;
	border-color:#0080c8
}
#Quote-box input[type="submit"] {
	margin:0;
	padding:0;
	float:right;
	padding:5px 10px;
	background:#57b2e4;
	border:none;
	color:#2d221c;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
#Quote-box input[type="submit"]:hover {
	background:#0080c8;
	transition: all 0.4s ease-in-out 0s;
	color:#FFF
}
/*------------------------- body container -------------------*/
#body_container {
	margin:0;
	padding:0;
	position:relative;
	z-index:-99;
}
#body_container .Left-Cont{

width:100%;
	margin:0;

}
#body_container  .Left-Cont-box{
	width:100%;
	min-height:600px;
	padding:0;
	background:#eaeef1;
	border-right:1px solid #fff;
	-webkit-transform: skew(-10deg); 
   -moz-transform: skew(-10deg); 
   -o-transform: skew(-10deg);
   transform: skew(-10deg);
}

#body_container  .Left-Cont-box1{
	width:100%;
	min-height:100px;
	padding:0;
	margin-top:7%;
	padding-left:2%;
	margin-left:.300%;
	background:#eaeef1;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	-webkit-transform: skew(-10deg); 
   -moz-transform: skew(-10deg); 
   -o-transform: skew(-10deg);
   transform: skew(-10deg);

}

#body_container  .topTxt{
	width:100%;
	float:left;
	padding:15px 0px;
	margin:0 0px;
	color:#000;
	font:normal 50px Raleway-Light, Arial, Helvetica, sans-serif;
	-webkit-transform: skew(10deg); 
   -moz-transform: skew(10deg); 
   -o-transform: skew(10deg);
   transform: skew(10deg);
}





#body_container .border-box {
	margin:0;
	padding:15px;
	border:1px solid #ccc;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position:relative;
}
#body_container .title-bg {
	padding:0;
	margin:-35px 0 15px 0;
	text-align:center
}
#body_container h1 {
	margin:0;
	padding:0 10px;
	text-align:center;
	font-size:32px;
	background:#FFF;
	display:inline-block
}
#body_container .service-box {
	margin:15px 0;
	padding:0
}
#body_container .img-thumbnail:hover {
	border-color:#57b2e4;
	background-color:#b1dff9;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .service-box h4 {
	color:#0080c8;
	font-size:16px;
	margin:10px 0;
	text-align:center
}
#body_container .service-box p {
	margin:0;
	padding:0 0 15px 0;
	text-align:center
}
#body_container .service-box .read_more {
	margin:0;
	padding:0;
	text-align:center;
}
#body_container .service-box .read_more a {
	color:#57b2e4
}
#body_container .service-box .read_more a:hover {
	color:#0080c8;
	transition: all 0.4s ease-in-out 0s;
}
/*------------------------- Recent Projects -------------------*/
#recent_projects {
	margin:0;
	padding:0
}
#recent_projects .carousel {
	padding:0 30px
}
#recent_projects .item img {
	width:100%;
}
#recent_projects .carousel-control.left, #recent_projects .carousel-control.right {
	opacity:1;
}
#recent_projects .carousel-control.left {
	top:40%;
	left:0px;
	width:15px;
	height:24px;
	background:url(../images/recent_project_btn.png) no-repeat left top !important;
}
#recent_projects .carousel-control.left:hover {
	background:url(../images/recent_project_btn.png) no-repeat left -24px !important
}
#recent_projects .carousel-control.right:hover {
	background:url(../images/recent_project_btn.png) no-repeat right -24px !important
}
#recent_projects .carousel-control.right {
	top:40%;
	right:0px;
	width:15px;
	height:24px;
	background:url(../images/recent_project_btn.png) no-repeat right top !important;
}
/*------------------------- testimonial box -------------------*/
#testimonial-box {
	margin:0;
	padding:0
}
#testimonial-box .testimonial-inner {
	margin:0;
	padding:0;
	min-height:166px
}
#testimonial-box p {
	text-align:justify
}
#testimonial-box .post_by {
	margin:0;
	padding:0;
	color:#0080c8;
	text-align:right
}
#testimonial-box .post_by span {
	color:#312c29
}
/*------------------------- Our Clients -------------------*/
.owl-pagination {
	display:none;
}
.brands .item > img {
	height: auto;
	width: 100%;
	display: block;
	min-height: 75px;
}
.brands .item {
	background-color: #FFFFFF;
	border: 1px solid #EAEAEA;
	border-radius: 2px;
}
.brands .item:hover {
	box-shadow: none;
}
.brands .owl-item {
	padding: 0 15px;
}
owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
	padding: 0 15px;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/* Product Slider */

.centerBoxWrapper .owl-theme .owl-controls .owl-buttons, .brands-slider .owl-theme .owl-controls .owl-buttons, .alsoPurchased #alsopurchased_products .owl-controls .owl-buttons, .centerBoxWrapper #featured-slider-inner .owl-buttons {
	position: absolute;
	right: 5px;
	top: -45px;
	z-index: 99;
}
.centerBoxWrapper .owl-theme .owl-controls .owl-buttons .owl-next, .centerBoxWrapper .owl-theme .owl-controls .owl-buttons .owl-prev, .brands-slider .owl-theme .owl-controls .owl-buttons .owl-next, .brands-slider .owl-theme .owl-controls .owl-buttons .owl-prev {
	opacity: 1;
	text-shadow: none;
	position:absolute;
	right:5px;
}
.centerBoxWrapper .owl-theme .owl-controls .owl-buttons .owl-prev, .brands-slider .owl-theme .owl-controls .owl-buttons .owl-prev {
	right: 25px;
}
.centerBoxWrapper .owl-theme .owl-controls .owl-buttons .owl-prev.disabled, .brands-slider .owl-theme .owl-controls .owl-buttons .owl-prev.disabled, .centerBoxWrapper .owl-theme .owl-controls .owl-buttons .owl-next.disabled, .brands-slider .owl-theme .owl-controls .owl-buttons .owl-next.disabled {
	opacity:0.65;
	cursor:default;
}
#Our_clients .owl-prev .fa {
	margin-left: 7px;
	vertical-align: 0;
	display:none;
}
#Our_clients .owl-next .fa {
	margin-left: 9px;
	vertical-align: 0;
	display:none;
}
#Our_clients .owl-prev {
	margin:0;
	padding:0;
	width:15px;
	height:24px;
	background:url(../images/recent_project_btn.png) no-repeat scroll left top;
	top:40%;
	left:0;
	position:absolute;
}
#Our_clients .owl-prev:hover {
	background:url(../images/recent_project_btn.png) no-repeat left -24px
}
#Our_clients .owl-next:hover {
	background:url(../images/recent_project_btn.png) no-repeat right -24px
}
#Our_clients .owl-next {
	margin:0;
	padding:0;
	width:15px;
	height:24px;
	background:url(../images/recent_project_btn.png) no-repeat scroll right top;
	top:40%;
	right:0;
	position:absolute;
}
#Our_clients .brands {
	padding:0 15px
}
/*------------------------- footer -------------------*/
footer {
	background:#333333;
	color:#FFF;
	position:relative
}
footer .footer-box {
	padding:30px 0
}

footer .disclaimer {
    color: #696868;
    float: left;
    font: 11px/19px Arial,Helvetica,sans-serif;
    padding-right: 10px;
    width: auto;
}
footer .disclaimer a {
    color: #696868;
    font: 11px/16px Arial,Helvetica,sans-serif;
    text-decoration: none;
}



footer .nortonIcon {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -270px -370px;
    display: block;
    float: left;
    height: 57px;
    width: 113px;
}
footer .followus {
    float: right;
    padding: 7px 0 0;
    text-align: center;
    width: auto;
}
footer .followus a.fusIcon1 {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -410px -10px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 15px;
}
footer .followus a.fusIcon1:hover {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -432px -381px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 15px;
}
footer .followus a.fusIcon2 {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -450px -10px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 25px;
}
footer .followus a.fusIcon2:hover {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -472px -381px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 25px;
}
footer .followus a.fusIcon3 {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -495px -10px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 27px;
}
footer .followus a.fusIcon3:hover {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -517px -381px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 27px;
}
footer .followus a.fusIcon4 {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -535px -10px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 27px;
}
footer .followus a.fusIcon4:hover {
    background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -557px -381px;
    display: inline-block;
    height: 35px;
    margin: 0 7px;
    width: 27px;
}

















footer .footer-box h3 {
	color:#0080c8;
	margin:0 0 15px 0;
	padding:0;
	font-weight:normal;
	font-size:18px
}
footer .footer-box p {
	text-align:justify;
	margin-bottom:0
}
footer .footer-box h3 span {
	color:#FFF
}
footer .footer-box .footer-list {
	margin:0;
	padding:0;
	list-style-type:none
}
footer .footer-box .footer-list li {
	display:block;
	padding:3px 0;
	margin:0
}
footer .footer-box .social-list {
	margin:0;
	padding:0;
	list-style-type:none
}
footer .footer-box .social-list li {
	margin:0 10px 0 0;
	padding:0;
	display:block;
	float:left
}
footer .footer-box .social-list li a {
	margin:0;
	padding:0;
	width:36px;
	height:36px;
	background:#888889;
	color:#312c29;
	display:block;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px
}
footer .footer-box .social-list li a i {
	font-size:21px;
	line-height:36px;
	text-align:center;
	display:block
}
footer .footer-box .social-list li a:hover {
	transition: all 0.4s ease-in-out 0s;
	background:#FFF;
	color:#0080c8
}
footer .footer-bottom {
	background:#000
}
footer .footer-bottom .copy-rights {
	padding:15px 0;
	text-align:center
}
 @media(max-width:480px) {
.header .logo a img {
width:100%
}
}
 @media(max-width:767px) {
.header .navbar-default{background:#312c29}
.header .header-top .top-link {
float:inherit
}
.header .header-top .top-link li {
float:inherit
}
.header .navbar-nav > li > a {
font-size:14px;
color:#FFF;
}
.header .navbar {
min-height:50px;
margin-bottom:0px;
margin-top:15px
}
.header .navbar-toggle {
float:left;
margin-left:15px
}
.header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
border:none
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
color:#FFF;
background:#57b2e4
}
.header .navbar-default .navbar-toggle {
border-color:#57b2e4
}
.header .navbar-default .navbar-toggle .icon-bar {
background-color:#0080c8
}
.header .navbar-default .navbar-toggle:hover {
background-color:#a2dcfc
}
.header .navbar-default .navbar-toggle:focus {
background-color:#57b2e4
}
#body_container h1 {
font-size:24px
}
#body_container .title-bg {
margin-top:-30px
}
}
 @media(min-width:768px) {
.header .navbar-nav > li > a {
font-size:18px;
color:#FFF;
padding:20px 33px !important
}
.header .navbar-nav > li:first-child > a {
padding:0 !important;
}
.header .navbar-nav > li:last-child > a {
padding:20px 35px 20px 35px !important;
}
}
 @media(max-width:991px) {
 #recent_projects {
margin-top:50px
}
footer .footer-box h3 {
margin-top:30px
}
 #Quote-box {
margin:0;
padding:15px 0;
background-image:none;
width:100%;
position:relative;
right:0;
top:0;
}
}
 @media(min-width:992px) {
.header .navbar-nav > li > a {
font-size:18px;
color:#FFF;
padding:20px 10px 20px 11px !important;
}
.header .navbar-nav > li:first-child > a {
padding:0;
}
.header .navbar-nav > li:last-child > a {
padding:20px 10px 20px 11px !important;
}
#Quote-box {
height:320px;
padding-left:70px
}
}
 @media(max-width:1199px) {
}
 @media(min-width:1200px) {
.header .navbar-nav > li > a {
font-size:18px;
color:#FFF;
padding:20px 25px 20px 25px !important;
}
.header .navbar-nav > li:last-child > a {
padding:20px 26px 20px 25px !important;
}
#Quote-box {
padding-top:40px;
height:400px;
}
}
