body {
	color: #312c29;
	font-size: 14px;
	line-height:16px;
	font-family:"SEGOEUIL", Arial, Helvetica, sans-serif;
	background:#f9f9f9;
}
 @font-face {
font-family:"SEGOEUIL";
src:url("../fonts/SEGOEUIL.eot?") format("eot"), url("../fonts/SEGOEUIL.woff") format("woff"), url("../fonts/SEGOEUIL.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"seguisb_0";
src:url("../fonts/seguisb_0.eot?") format("eot"), url("../fonts/seguisb_0.woff") format("woff"), url("../fonts/seguisb_0.ttf") format("truetype"), url("../fonts/seguisb_0.svg#seguisb_0") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:"Segoe_UI";
src:url("../fonts/Segoe_UI.eot?") format("eot"), url("../fonts/Segoe_UI.woff") format("woff"), url("../fonts/Segoe_UI.ttf") format("truetype"), url("../fonts/Segoe_UI.svg#Segoe_UI") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:'WebRupee';
src:url('WebRupee.V2.0.eot');
src:local('WebRupee'), url('../fonts/WebRupee.V2.0.ttf') format('truetype'), url('../fonts/WebRupee.V2.0.woff') format('woff'), url('../fonts/WebRupee.V2.0.svg') format('svg');
font-weight:normal;
font-style:normal;
}
.WebRupee {
	font-family:'WebRupee';
	color:#0c7d3b;
	font-style:normal;
	display:inline-block;
	padding:0 0px;
	margin:0 0px;
}

 #errorMsg {
text-align: center;
color: #E36745 ;
padding-bottom: 10px;
padding-top: 10px;
}
.customerrormsg {
    padding: 0 0 2%;
    width: 300px;
	text-align: left ! important;
	color: red !important;
}
a, a:focus, a:hover, a:active {
	color: #0080c8;
	outline: 0 !important;
}
a:hover {
	color: #0080c8;
	text-decoration: none;
}
img.img-circle {
	border-radius: 50% !important;
}
.text-justify {
	text-align: justify;
}
/* Alingment Styles */
.aligncenter {
	display: block;
	margin: 0px auto 20px auto;
}
.alignright {
	float: right;
	margin: 10px 0 10px 10px;
}
.alignleft {
	float: left;
	margin: 10px 10px 10px 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textcenter {
	text-align: center
}
.textright {
	text-align: right
}
.textleft {
	text-align: left !important;
}
.spacer {
	margin:0;
	padding:0;
	height:10px;
	clear:both
}
.spacer2 {
	margin:0;
	padding:0;
	height:20px;
	clear:both
}
.spacer3 {
	margin:0;
	padding:0;
	height:30px;
	clear:both
}
.spacer4 {
	margin:0;
	padding:0;
	height:40px;
	clear:both
}

.spacer-margin-top {
	margin-top:2.5% !important;
}
.spacer5 {
	margin:0;
	padding:0;
	height:50px;
	clear:both
}
.img-responsive {
	width:100%
}
/*------------------------- header -------------------*/
.header {
	margin:0;
	padding:0;
	/* padding-bottom:10px; */
	background:#fff;
	position:relative;
	-webkit-box-shadow: 1px 1px 7px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    1px 1px 7px 1px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         1px 1px 7px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	z-index:99;
}
.header .toll-free {
	padding:15px 0 15px 20px;
	font-size:16px;
	font-weight:300;
}
.header .toll-free-devider { margin:0; padding:0;}
.header .header-top {
	/* background:#0f6633;
	padding:5px 0; */
}
.header .logo {
	margin:10px 0 5px 0;
	padding:0
}
.header .logo a img {
	width:auto
}

/*------------------------- body container -------------------*/
#body_container {
	margin:0;
	padding:0;
	position:relative;
}
#body_container .Left-Cont {
	width:40%;
	margin:0;
	background:#eaeef1;
	position:relative;
	float:left;
}
#body_container .Left-Cont {
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.insertBefore(
            document.createElement("div"),
            this.childNodes[0]
        ).className="before",
        this.appendChild(
            document.createElement("div")
        ).className="after"
    );
   }
#body_container .Left-Cont:before {
	width:50%;
	padding:0;
	background:#eaeef1;
	/*	border-right:1px solid #fff;*/
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
	content: " ";
	min-height: 506px;
    padding: 0;
    position: absolute;
    right: -21%;
    top: 0;
    transform: skew(-10deg);
    width: 50%;
    z-index: -999;
}



#body_container .Left-Cont-1 {
	width:40%;
	margin:0;
	background:#eaeef1;
	position:relative;
	min-height:900px;
	float:left;
}
#body_container .Left-Cont-1:before {
	width:50%;
	min-height:900px;
	padding:0;
	background:#eaeef1;
	/*	border-right:1px solid #fff;*/
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
	content: " ";
	display: block;
	right: -15%;
	position: absolute;
	top: 0;
	z-index: -1;
}

#body_container .Left-Cont-box {
	width:80%;
	padding:4% 0 0 9%;
	z-index:99;
	float:right;
	text-align:center;
}
#body_container .Left-Cont-quot {
	padding:0px 0;
	margin:0;
}
#body_container .Left-Cont-box h1 {
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
	color:#333;
}
#body_container .Left-Cont-box p {
	font-size:14px;
	font-weight:500;
	line-height:26px;
	color:#000;
}
#body_container .Left-Cont-test {
	padding:0;
	margin:0;/*	border-top:1px solid #f9f9f9;*/
}
#body_container .Left-Cont-test h2 {
	font-size:18px;
	font-weight:700;
	padding-top:2%;
	text-transform:uppercase;
	color:#0f6633
}
#body_container .Left-Cont-test .carousel {
	padding:0;
	overflow:hidden;
	margin:0;
}
#body_container .Left-Cont-test .top-testimonial {
	border-bottom:1px solid #f9f9f9;
	height:50px;
	margin-bottom:-40px;

}
#body_container .Left-Cont-test .item-img {
	margin:0;
	left:42%;
	top:5%;
}
/*#body_container .Left-Cont-test .carousel-control.left, #body_container .Left-Cont-test .carousel-control.right {
	opacity:1;
}
#body_container .Left-Cont-test .carousel-control.left {
	top:0;
	margin-top:25px;
	position:absolute;
	z-index:100;
	left:30%;
	width:45px;
	height:46px;
	background:url(../images/recent_project_btn1.png) no-repeat left top !important;
}
#body_container .Left-Cont-test .carousel-control.left:hover {
	background:url(../images/recent_project_btn1.png) no-repeat left -45px !important;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .Left-Cont-test .carousel-control.right:hover {
	background:url(../images/recent_project_btn1.png) no-repeat right -45px !important;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .Left-Cont-test .carousel-control.right {
	top:0;
	margin-top:25px;
	right:25%;
	width:45px;
	height:46px;
	background:url(../images/recent_project_btn1.png) no-repeat right top !important;
}*/
/*------------------------- Left Container end Projects -------------------*/


/*------------------------- Right Container -------------------*/


#body_container .right-Cont {
	width:50%;
	margin:0;
	float:right;
	padding:2% 0 0 0;
	position:relative;
}
#body_container .right-Cont h1 {
	width:100%;
	margin:0;
	padding:0 0 0 2%;
	line-height:80px;
	font-size:50px;
	background:#eaeef1;
	position:absolute !important;
	height:100px;
	z-index:999;/*	border-top:1px solid #fff;
	border-bottom:1px solid #fff;*/
}
#body_container .right-Cont h1:after {
	background: none repeat scroll 0 0 #eaeef1;
	content: " ";
	display: block;
	left: -17%;
	/* height:100px; */
	padding:0;
	position: absolute;
	top: 0;
	transform: skew(-15deg);
	width: 20%;
	z-index: -99 !important;
}
#body_container .right-Cont-step1 {
	width:97%;
	margin:0;
	float:left;
	padding: 3% 0 10% 6%;
}
#body_container .right-Cont-step1 h2 {
	width:100%;
	margin:0;
	padding:3% 0 5% 0;
	color:#0f6633;
	font-size:30px;
	font-weight:600;
}

#body_container .right-Cont-step1 .genderBox {
	margin:0;
	padding:0;
}
#body_container .right-Cont-step1 .genderBox span.maleIcon {
	margin:0 3% 0 0;
	padding:5% 3%;
	width:31%;
	color:#333;
	background:#fff;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	display:inline-table;
	cursor:pointer;
	border:1px solid #d7d7d7;
}

#body_container .right-Cont-step1 .genderBox span.maleIcon:hover {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.maleIconActive {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.maleIconActive {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.femaleIcon {
	margin:0 10px 0 0;
	padding:5% 3%;
	width:31%;
	color:#333;
	background:#fff;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	display:inline-table;
	cursor:pointer;
	border:1px solid #d7d7d7;
}
#body_container .right-Cont-step1 .genderBox span.femaleIcon:hover {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.femaleIconActive {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.genderTxt {
	float:left;
	width:auto;
	color:#000000;
	font:bold 15px/70px "Segoe_UI", Arial, Helvetica, sans-serif;
	padding-right:30px;
}
#body_container .right-Cont-step1-button {
	margin:2% 0 0 0;
	padding:0;
}
#body_container .right-Cont-step1-button a {
	margin:0;
	padding:1.5% 1% 1.5% 3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0 #727272;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 7px 0 #727272;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 7px 0 #727272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#fff;
	background:#333333;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #000;
}
#body_container .right-Cont-step1-button a:hover {
	background:#333;
	border:1px solid #000;
	color:#b5e174;
	transition: all 0.4s ease-in-out 0s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#body_container .right-Cont-step1-button img {
	padding-left:10px;
	padding-right:10px;
}



#body_container .right-Cont-step1-button1{
	margin:6% 0 0 0%;
	padding:0;
	background:inherit !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-box-shadow: 0 0 0 0 #727272 !important;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 0 0 #727272 !important;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 0 0 #727272 !important;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#444!important;
	font-size:18px !important;
	text-transform:inherit !important;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;
	overflow:hidden;
	border:0px solid #000 !important;
	
}

#body_container .right-Cont-step1-button1:hover{ text-decoration:none;}
#body_container .right-Cont-step1-button1 span{ text-decoration:none; color:#090; font-weight:900;}





#body_container .right-Cont-step1-button-2{
	margin:6% 0 0 0;
	padding:0;
	width:100%;
	
}
#body_container .right-Cont-step1-button-2 a {
	margin-top:-13px;
	float:left;
	min-height:40px;
	line-height:30px;
	padding:2% 1% 2% 3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0 #727272;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 7px 0 #727272;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 7px 0 #727272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#fff;
	
	background:#0f6633;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #013d1a;
}
#body_container .right-Cont-step1-button-2 a:hover {
	background:#333;
	border:1px solid #000;
	color:#b5e174;
	transition: all 0.4s ease-in-out 0s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#body_container .right-Cont-step1-button-2 img {
	padding-left:10px;
	padding-right:10px;
}





#body_container .register-text{ text-decoration:underline; color:#0f6633 !important; font-weight:400; font-size:24px !important; }

/*------------------------- OR Start -------------------*/


#body_container .or {
	
	position:relative;
	
}
#body_container .or-text {
	margin:0 auto;
	padding:2.5% 2%;
	color:#FFF;
	position:absolute;
	top:-39px;
	left:24%;
	text-align:center;
	font-size:16px;
	background:#0f6633;
	border-radius: 100%;
	behavior: url(css/pie.htc);
}
.signup-text{
	float: left;
    left: 34%;
    position: relative;
    text-decoration: underline;
	margin-top: -4%;
	font-size: 18px;
	
}
.loginimages{
	float: right;
    position: relative;
	margin-top: -4%;
	margin-top: -6%;
	margin-right: 17%;
	
}
/* iPads (portrait and landscape) ----------- css by dinesh chandra 30-12-0215 */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
  .loginimages {
    float: right;
    margin-right: 46%;
    margin-top: 5%;
    position: relative;
}
#body_container .or-text {
	margin:0 auto;
	padding:2.5% 2%;
	color:#FFF;
	position:absolute;
	top:15px;
	left:24%;
	text-align:center;
	font-size:16px;
	background:#0f6633;
	border-radius: 100%;
}
#body_container .or-text {
	margin:0 auto;
	padding:2.5% 2%;
	color:#FFF;
	position:absolute;
	margin-top:1%;
	left:24%;
	text-align:center;
	font-size:16px;
	background:#0f6633;
	border-radius: 100%;
}
.signup-text {
    float: left;
    font-size: 18px;
    left: 34%;
    margin-left: -18%;
    margin-top: 16%;
    position: relative;
    text-decoration: underline;
}
#body_container .right-Cont-step1-button1{
	margin: 6% 0 0 11% !important;
}
}
/*------------------------- OR Closed -------------------*/


/*------------------------- Fllow us Closed -------------------*/

#body_container .social-cont {
	margin:0;
	padding:0;
	width:80%;
	position:relative;
}

#body_container .social-cont h3 {
	width:100%;
	margin:0;
	padding:0 0 3% 0;
	color:#333;
	font-size:24px;
	font-weight:600;
}
#body_container .social-cont a {
	color:#0f6633;
	font-size:24px;
	font-weight:600;
}
#body_container .social-cont a:hover {
	color:#0f6633;
	text-decoration:underline;

}

#body_container .social-cont .fb {
	margin:0;
	padding:0;
	width:49%;
	display:inline-table;
	font-size:18px;
	color:#ededed;
	cursor:pointer;
	-moz-box-shadow:    inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
	background:#333;
}
#body_container .social-cont .fb:hover {
	background:#000;
	transition: all 1.4s ease-in-out 0s;
}
#body_container .social-cont .fb-left {
	display:inline-block;
	padding:3% 7% 3% 7%;
	border-right:2px solid #232323;
	-webkit-box-shadow: 2px 0 0 0 #4e4e4e;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    2px 0 0 0 #4e4e4e;  /* Firefox 3.5 - 3.6 */
	box-shadow:         2px 0 0 0 #4e4e4e;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#body_container .social-cont .fb-right {
	font-size:16px;
	color:#ededed;
	padding:5% 0 5% 3%;
	text-align:right;
	display:inline-block;
}
#body_container .social-cont .fb-right span {
	font-size:18px;
	color:#ededed;
	font-weight:bolder;
}

.space-marging-2{margin:5% 0 0% 0 !important;}

.space-marging-1{margin:-5% 0 0 0 !important;}
/*------------------------- Fllow us Closed -------------------*/

/*------------------------- Right Container end -------------------*/








/*------------------------- footer -------------------*/
footer {
	background:#333333;
	color:#FFF;
	position:relative
}
footer .footer-box {
	padding:10px 0
}
footer .disclaimer {
	color: #696868;
	float: left;
	font: 11px/19px Arial, Helvetica, sans-serif;
	padding-right: 10px;
	width: auto;
}
footer .disclaimer a {
	color: #696868;
	font: 11px/16px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
footer .nortonIcon {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -270px -370px;
	display: block;
	float: left;
	height: 57px;
	width: 113px;
}
footer .followus {
	float: right;
	padding: 7px 0 0;
	text-align: center;
	width: auto;
}
footer .followus a.fusIcon1 {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -410px -10px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 15px;
}
footer .followus a.fusIcon1:hover {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -432px -381px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 15px;

}
footer .followus a.fusIcon2 {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -450px -10px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 25px;
}
footer .followus a.fusIcon2:hover {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -472px -381px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 25px;

}
footer .followus a.fusIcon3 {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -495px -10px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 27px;
}
footer .followus a.fusIcon3:hover {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -517px -381px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 27px;

}
footer .followus a.fusIcon4 {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -535px -10px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 27px;
}
footer .followus a.fusIcon4:hover {
	background: rgba(0, 0, 0, 0) url("../images/sprite-img.png") no-repeat scroll -557px -381px;
	display: inline-block;
	height: 35px;
	margin: 0 7px;
	width: 27px;

}

#body_container .middleContainerBox {
     padding: 2% 0 0%;
    width: 100%;
	clear:both;
	display:block;
	overflow:hidden;
}
/* custom css by dinesh starts*/
#body_container .right-Cont-step1-button-custom{
	margin:6% 0 0 0;
	padding:0;
}
#body_container .right-Cont-step1-button-custom a {
	margin:0;
	padding:1.5% 1% 1.5% 3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0 #727272;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 7px 0 #727272;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 7px 0 #727272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#fff;
	background:#333333;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #000;
}
#body_container .right-Cont-step1-button-custom a:hover {
	background:#333;
	border:1px solid #000;
	color:#b5e174;
	transition: all 0.4s ease-in-out 0s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#body_container .right-Cont-step1-button-custom img {
	padding-left:10px;
	padding-right:10px;
}

#body_container .right-Cont-step1-button-custom2{
	margin:3% 0 0 0;
	padding:0;
}
#body_container .right-Cont-step1-button-custom2 a {
	margin:0;
	padding:1.5% 1% 1.5% 3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0 #727272;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 7px 0 #727272;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 7px 0 #727272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#fff;
	background:#333333;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #000;
}
#body_container .right-Cont-step1-button-custom2 a:hover {
	background:#333;
	border:1px solid #000;
	color:#b5e174;
	transition: all 0.4s ease-in-out 0s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#body_container .right-Cont-step1-button-custom2 img {
	padding-left:10px;
	padding-right:10px;
}
/* custom css by dinesh ends */

span.txtIcon1 {
    background: url("../images/sprite-img.png") no-repeat scroll -436px -580px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height:50px;
    width: 45px;
}

span.txtIcon2 {
    background: url("../images/sprite-img.png") no-repeat scroll -106px 15px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}
span.txtIconnew {
    background: url("../images/sprite-img2.png") no-repeat scroll -106px 15px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}
span.txtIcon3 {
    background: url("../images/sprite-img.png") no-repeat scroll -537px -622px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}
span.txtIcon4 {
    background: url("../images/sprite-img.png") no-repeat scroll -6px -785px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}

span.txtIcon5 {
    background: url("../images/sprite-img.png") no-repeat scroll -52px -780px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}
span.txtIcon6 {
    background: url("../images/sprite-img.png") no-repeat scroll -100px -829px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}


span.txtIcon7 {
    background: url("../images/sprite-img.png") no-repeat scroll -490px -627px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 45px;
}




.graytxtBox3 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a5a5a5;
    border-radius: 1px;
    float: left;
    margin-right: 20px;
	margin-bottom:5%;
    padding: 0;
    width: 40%;
}
.passMargin{
	margin-bottom: 7%;
}
.notValid{
	color: red; 
	margin-bottom: 5px;
}
.captchatxtBox3 {
    background:#b5e174 url(../images/captcha.jpg) no-repeat center 10px;
    border: 1px solid #92c841;
    border-radius: 1px;
    float: left;
    margin-right: 20px;
	margin-bottom:3%;
    padding: 21px 0;
    width: 40%;
}


.txtfieldFull {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000000;
    font-weight:500;
	font-size:18px;
    padding:18px 0;
    width: 100%;
}

.txtMrgn {
    margin: 0 8px 0 45px;
}
.txtMrgn-1 {
    margin: 0 8px 0 5%;
}
.mrgnNoneRght {
    margin: 0 !important;
}


.space-marging4{margin-top:13px !important; font-size:18px;}

.space-marging1{margin-top:14px !important;}

#chkboxrole-error{
	 float: left;
    margin-left: -100px;
    margin-top: 5%;
}


.insuredQuestioncheckBox{
	  width: 40%;
	float:left;
}

.insuredQuestioncheckLeft {

}
.insuredQuestioncheckLeft span {
    color: #000000;
    float: left;
    font: 14px/14px "SEGOEUIL",Arial,Helvetica,sans-serif;
    padding-left: 20px;
}
.insuredQuestioncheckLeft span strong {
    color: #ff0000;
    font: 18px/22px "seguisb_0",Arial,Helvetica,sans-serif;
}
.insuredQuestioncheckRight {
    border-right: 1px solid #f5f5f5;
    float: left;
    width: 100%;
	margin-bottom: 3%;
}
.insuredQuestioncheck {
    float: left;
    text-align: left;
	
	width:19%;
	
				
}

.insuredQuestionc-left{
    float: left;
    text-align: left;
	padding-top:12px;
	
	font-size:18px;
	color:#333;
	font-weight:600;
}





.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:not(:checked), .insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:checked {
    left: -9999px;
    position: absolute;
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:not(:checked) + label, .insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:checked + label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:not(:checked) + label:before, .insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:checked + label:before {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    content: "";
    height: 25px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 25px;
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:not(:checked) + label:after, .insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:checked + label:after {
    color: #32764e;
    content: "✔";
    font-size: 23px;
    left: 12px;
    position: absolute;
    top: 0;
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:checked:focus + label:before, .insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck [type="checkbox"]:focus:not(:checked) + label:before {
}
.insuredQuestioncheckBox .insuredQuestioncheckRight .insuredQuestioncheck label:hover:before {
    border: 1px solid #a5a5a5 !important;
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:not(:checked), .insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:checked {
    left: -9999px;
    position: absolute;
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:not(:checked) + label, .insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:checked + label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:not(:checked) + label:before, .insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:checked + label:before {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    content: "";
    height: 20px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 20px;
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:not(:checked) + label:after, .insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:checked + label:after {
    color: #32764e;
    content: "✔";
    font-size: 23px;
    left: 3px;
    position: absolute;
    top: -5px;
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:checked:focus + label:before, .insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob [type="checkbox"]:focus:not(:checked) + label:before {
}
.insuredQuestioncheckBoxMob .insuredQuestioncheckBoxInMob .checkboxMob label:hover:before {
    border: 1px solid #a5a5a5 !important;
}







 @media(max-width:480px) {
.header .logo a img {
width:100%
}



/* custom css by dinesh*/

.networkInput{
	width: 30%; 
	float:left;
}



.header .toll-free-devider {
	padding:5px;
	margin:0;

	margin-top:10px;
	background:url(../images/arrow-devider-top.png) no-repeat top center;
}


#body_container .right-Cont-step1-button .submitbtnforgot {
	margin:0;
	padding:5% 3% 3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0 #727272;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 7px 0 #727272;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 7px 0 #727272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#fff;
	background:url("../images/arrow.png") no-repeat scroll 265px 13px #333333;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #000;
}


}
 @media(max-width:767px) {
.header {
text-align:center;
width:100%;
padding:0;
margin:0;
}

.header .toll-free {
	padding:0 !important;
	margin:15px 0;
	width:100%;
}
.header .toll-free-devider {
	padding:5px;
	margin-top:20px;
	width:100%;
	background:url(../images/arrow-devider-top.png) no-repeat top center;
}
.header .logo {
	margin:25px 0 5px 0;
	padding:0;
	display:inherit !important;
	text-align:center;
	width:100% !important;
}
.header .logo a img {
	width:auto;
		display:inherit !important;
	text-align:center;
}

.sparator{width:100%; clear:both; overflow:hidden; padding:5px; margin:0;}



#body_container .Left-Cont {
	width:100%;
	margin:0;
	display:block;
	float:none;
	background:#fff;
	min-height:inherit;
	clear:both;
}

#body_container .Left-Cont:before {
	display:none;
}

#body_container .Left-Cont-1 {
	width:100%;
	margin:0;
	display:block;
	float:none;
	background:#fff;
	min-height:inherit;
	clear:both;
}

#body_container .Left-Cont-1:before {
	display:none;
}



#body_container .right-Cont {
	width:100%;
	margin:0;
	float:none;
	display:block;
	clear:both;
	background:#f9f9f9;
	padding:4% 0 0 0;
	border-bottom:1px solid #f4f3f3;
}
#body_container .right-Cont h1 {
	width:90%;
	margin:0;
	padding-left:0;
	float:right;
	line-height:90px;
	font-size:23px;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	background:#eaeef1;
	position:inherit !important;
	height:100px;
	z-index:999;/*	border-top:1px solid #fff;
	border-bottom:1px solid #fff;*/
}
#body_container .right-Cont h1:after {
	background: none repeat scroll 0 0 #eaeef1;
	content: " ";
	display: block;
	left:-18px;
	border-left:1px solid #FFF;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	height:100px;
	padding:0;
	position: absolute;
	top:-1px;
	transform: skew(-15deg);
	width: 15%;
	z-index: -99 !important;
}


#body_container .right-Cont-step1 {
	width:92%;
	margin:0;
	clear:both;
	display:block;
	padding:2% 3%;
}
#body_container .right-Cont-step1 h2 {
	width:100%;
	margin:0;
	padding:0 0 10% 0;
	color:#0f6633;
	font-size:18px;
	font-weight:500;
}


.spacer4 {
	margin:0;
	padding:0;
	height:10px;
	clear:both
}






#body_container .right-Cont-step1 .genderBox {
	margin:0;
	padding:0;
	margin-bottom:34px;
}

#body_container .Left-Cont-box h1 {
    font-size: 16px;


}

#body_container .right-Cont-step1 .genderBox span.maleIcon {
	margin:0 3% 2% 0;
	padding:7% 0;
	width:100%;
	color:#333;
	background:#fff;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	display:inline-table;
	cursor:pointer;
	line-height:30px;
	border:1px solid #d7d7d7;
}
#body_container .right-Cont-step1 .genderBox span.maleIcon:hover {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.maleIconActive {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.maleIconActive {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.femaleIcon {
	margin:0 3% 2% 0;
	padding:7% 0;
	width:100%;
	color:#333;
	background:#fff;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	display:inline-table;
	cursor:pointer;
	line-height:30px;
	border:1px solid #d7d7d7;
}
#body_container .right-Cont-step1 .genderBox span.femaleIcon:hover {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}
#body_container .right-Cont-step1 .genderBox span.femaleIconActive {
	background:#b5e174;
	border:1px solid #92c841;
	transition: all 0.4s ease-in-out 0s;
}









#body_container .right-Cont-step1-button {
	margin:7% 0 0 0;
	padding:0;
	width:100%
}


#body_container .right-Cont-step1-button a {
	margin:0;
	width:100%;
	display:block;
	padding:5% 3% 3% 3%;
	margin-bottom:3%;
	font-size:23px;

}
#createAccount2 a {
	line-height:22px;
}
#body_container .or {
	margin:10% 0;
	padding:0;
	width:100%;
	position:relative;
	border-bottom:1px solid #F9F9F9;
}
#body_container .or-text {
	top:-18px;
	left:45%;
	clear: both;

}
#body_container .loginimages {
    clear: both;
    float: left;
    left: 0;
    margin-top: 4%;
    position: inherit;
    text-align: center;
    width: 100%;
	
}
#body_container .right-Cont-step1-button1{
	margin: 0;
	width: 100%;
	height: 19px;
	display: inline-block;
}
#body_container .loginimages img{
	padding:0 !important;
}

#body_container .social-cont {
	margin:0;
	padding:0;
	width:100%;
	position:relative;
}
#body_container .social-cont .fb {
	margin:0 0 2% 0;
	padding:0;
	width:100%;
	display:inline-table;
	font-size:18px;
	color:#ededed;
	cursor:pointer;
	-moz-box-shadow:    inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
	background:#333;
}

#body_container .social-cont .fb-left {
	display:inline-block;
	width:20%;
}

#body_container .Left-Cont-box {
	width:100%;
	padding:10% 5%;
	z-index:99;
	float:none;
	text-align:center;
}


#body_container .right-Cont-step1 {
	width:100%;
	margin:0;
	float:none;
	padding:5%;
}





#body_container .Left-Cont-test .carousel-control.left {
	top:0;
	margin-top:25px;
	position:absolute;
	z-index:100;
	left:25%;

}

#body_container .Left-Cont-test .carousel-control.right {
	top:0;
	margin-top:25px;
	right:15%;
	width:45px;
	height:46px;
	background:url(../images/recent_project_btn1.png) no-repeat right top !important;
}



.space-marging{margin-top:0px !important;}



.space-marging-1{margin-top:0% !important;}

#body_container .middleContainerBox {
    padding:0;
    width: 100%;
	clear:both;
	display:block;
	overflow:hidden;
}
.captchatxtBox3 {
    width: 100%;
    border-radius: 1px;
    float: none;
	margin-top:5%;
    margin-right: 0;
    padding:21px 0;
    width: 100%;

}

.graytxtBox3 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a5a5a5;
    border-radius: 1px;
    float: none;
	margin-top:11%;
    margin-right: 0;
    padding:0;
    width: 100%;
}
.passMarginMob{
	margin-bottom: 15% !important;
}
.conPassMarginMob{
	margin-bottom: 8% !important;
}
.txtfieldFull {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000000;
    font-weight:500;
	font-size:18px;
    padding:20px 0;
    width: 100%;
}

#body_container .social-cont h3 {
	width:100%;
	margin:0;
	padding:0 0 7% 0;
	color:#333;
	text-align:center;
	font-size:18px;
	font-weight:600;
}

#body_container .social-cont  a{
	font-size:18px;
	font-weight:600 !important;
}





.insuredQuestioncheckBox{
	  width: 100%;
	float:inherit;
}

.insuredQuestioncheckLeft {

}
.insuredQuestioncheckLeft span {
    color: #000000;
    float: left;
    font: 14px/14px "SEGOEUIL",Arial,Helvetica,sans-serif;
    padding-left: 20px;
}
.insuredQuestioncheckLeft span strong {
    color: #ff0000;
    font: 18px/22px "seguisb_0",Arial,Helvetica,sans-serif;
}
.insuredQuestioncheckRight {
    border-right: 1px solid #f5f5f5;
    float: left;
    width: 100%;
	margin-left:3px;
}
.insuredQuestioncheck {
    float: left;
    text-align: left;
	width:auto;
}

.spacer3 {
    clear: both;
    height:auto;
    margin: 0;
    padding: 0;
}

#chkboxrole-error {
    float: left;
   margin-top: 19% !important;
}
.insuredQuestioncheckBox{
	margin-left: -13px !important;
}

.insuredQuestionc-left{
    color: #333;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 21px;
    padding-left: 19px;
    padding-top: 11px;
    text-align: center;
}






#body_container .right-Cont-step1-button-2{
	margin:6% 0 0 0;
	padding:0;
	width:100%;
	
}
#body_container .right-Cont-step1-button-2 a {
	margin:0;
	float:inherit;
	width:100%;
	display:block;
  padding: 5% 3% 3%;

}

#body_container .Left-Cont-1 {
	width:100% !important;
    display: block;
	background:#FFF !important;
	float:inherit !important;



}
#body_container .right-Cont-step1 h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding:0 0 2% 0;
    width: 100%;
}


}
 @media(max-width:768px) {
	 

#body_container .right-Cont h1{font-size:18px;}

.insuredQuestioncheckBox {
    float: inherit;
    width: 100%;
}


#body_container .right-Cont-step1 h2 {
    color: #0f6633;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0 1% 2% 0;
    width: 100%;
}

#body_container .right-Cont-step1 h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding:0 0 5% 0;
    width: 100%;
}

#body_container .right-Cont-step1 p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding:0 0 5% 0;
    width: 100%;
}








}
 @media(max-width:991px) {
#body_container .Left-Cont-test .carousel-control.left {
	top:0;
	margin-top:25px;
	position:absolute;
	z-index:100;
	left:20%;

}

#body_container .Left-Cont-test .carousel-control.right {
	top:0;
	margin-top:25px;
	right:12%;
	width:45px;
	height:46px;
	background:url(../images/recent_project_btn1.png) no-repeat right top !important;
}

#body_container .Left-Cont-1:before {

    display: none;

}
#body_container .Left-Cont-1 {
	width:50%;
    display: block;



}

#body_container .Left-Cont-box {
    padding: 15% 0 0 0;
    text-align: center;
    width: 100%;
    z-index: 99;
}
.spacer4{height:0px; display:none;}

#body_container .right-Cont h1 {
    background: none repeat scroll 0 0 #eaeef1;
    font-size: 24px;
    height: 70px;
    line-height: 60px;
    margin: 0;
    padding: 0 0 0 12%;
    position: inherit !important;
    width: 100%;
	font-weight:700;
    z-index: 999;
}
#body_container .right-Cont h1:after {
	display:none;
}

}
 @media(min-width:992px) {
.header .navbar-nav > li > a {
font-size:18px;
color:#FFF;
padding:20px 10px 20px 11px !important;
}
.header .navbar-nav > li:first-child > a {
padding:0;
}
.header .navbar-nav > li:last-child > a {
padding:20px 10px 20px 11px !important;
}
#Quote-box {
height:320px;
padding-left:70px
}
}
 @media(max-width:1199px) {


}
 @media(min-width:1200px) {
#body_container .right-Cont h1 {
    background: none repeat scroll 0 0 #eaeef1;
    font-size: 36px;
    height: 75px;
    line-height: 70px;
    margin: 0;
    padding: 0 0 0 5% !important;
    position: absolute !important;
    width: 100%;
    z-index: 999;
	font-weight:500;
}

#body_container .right-Cont-step1 h2 {
    color: #0f6633;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding:3% 0 3% 0;
    width: 100%;
}

#body_container .right-Cont-step1 h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding:0 0 2% 0;
    width: 100%;
}

#body_container .right-Cont-step1 p {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding:0;
    width: 100%;
}
}
#body_container .right-Cont-step1-button .submitbtnforgot {
	margin:0;
	padding:2.5% 3% 3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0 #727272;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 7px 0 #727272;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 0 7px 0 #727272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	color:#fff;
	background:url("../images/arrow.png") no-repeat scroll 265px 13px #333333;
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #000;
	
}
/* custom css by dinesh starts*/
/*CSS will apply if the viewing area is between 641px to 980px.*/
 @media(min-width: 641px) and (max-width: 980px){
.customerrormsg{
	padding:11px !important;
}
.graytxtBox3{
	width:85% !important;
	margin-bottom: 9% !important;
}
.passMargin{
	margin-bottom: 13% !important;
}
.marginspl{
	margin-bottom:8% !important;
}
#body_container .right-Cont-step1-button{
	margin-top:5% !important;
}
}
/* css by dinesh starts for header menu drop downs*/
























